a.gallery__img(href='/p/2307e48c8b5242b41f8c')
  img(src='/uploads/gallery/2307e48c8b5242b41f8c.jpeg' alt='')
  .hover__icons
    .icon
      .icon__heart
      span.icon__count 14
      .icon__comment
      span.icon__count 12