extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method="POST" action="/auth")
    div.form-group
      label(for="first") First
      input#first.form-group(type="text", name="first")
    div.form-group
      label(for="last") Last
      input#last.form-group(type="text", name="last")
    div.form-group
      label(for="pw") Password
      input#pw.form-group(type="password", name="password")
    button(type="submit") Login
  a(href="/signup") Create an account
