head
  include head.pug
  body    
    include nav.pug
    div.registerForm
      if errors
        ul.errors
          each error in errors
            div(class="alert alert-danger")= error.msg
      form(method="post" action="/login")
        h3#emailHelp.form-text.text-muted Welcome back
        br
        .form-group
          label(for="exampleInputEmail1") Email
          input#exampleInputEmail1.form-control(type="text", name="email", aria-describedby="emailHelp")
        .form-group
          label(for="exampleInputPassword1") Password
          input#exampleInputPassword1.form-control(type="password", name="password")

        button.btn.btn-primary(type="submit") Submit
      a(href='/auth/facebook') Login with Facebook
          

          
//   script(src="/public/javascripts/upload.js")