doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title KSGram
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel='stylesheet' href='/stylesheets/style.css')
.main-content
  header
    nav.nav
      .nav__logo
        a(href='/')
          img.logo(src='/images/logo.svg' alt='logo' style='width: 35px;')
      .nav__user
        #modal.modal
          .modal__content
        .modal__overlay
        //
          <a
          class="nav-i notifications modal__open"
          href="/notifications"
          title="Notifications"
          ><div class="icon__notify"></div></a
          ><a class="nav-i discover" href="/discover" title="Discover people"
          ><div class="icon__discover"></div></a
          ><a class="nav-i" href="/likes" title="My Likes"
          ><div class="icon__heart"></div></a
          >
        a.nav-i.upload__image(href='/upload' title='Share an Image')
          .icon__upload
        a.nav-i(href='/[USERNAME]' title='My Profile')
          .icon__account
        a.nav-i.log(href='/logout' title='Log Out')
          .icon__logout
  article
    .flash-messages
    section
      .current-img
        .prev-img
          a.arrow.prev(href='/p/[PREVIOUS POSTID]') &#x276E;
        section
          .img-card(style='position: relative;')
            .img-card__header
              .user
                a.img(href='/[USERNAME]')
                  img(src='/uploads/avatar/51c32e6c39c86273c563.jpeg' alt="'s' avatar")
                a.(class='[USERNAME]' href='/[USERNAME]') [USERNAME]
            .img-card__image
              img(src='/uploads/892ba56277cf564f4379.jpeg' alt='')
            .img-card__content
              .content__likes
                form.icon(method='POST' action='/api/like/[POSTID]')
                  button.icon__heart(type='submit' name='likes')
                a.likes.modal__open(href='/p/[POSTID]/likes') [LIKES] likes
              .content__caption
                p.caption [CAPTION]
                time.img-card__date(datetime='2018-01-29T10:54:41.542Z')
                  p(style='margin: 5px 0;') 2 years ago
              .content__comments
                ul.comments
                  li
                    .row
                      a(href='/[USERNAME]') [USERNAME]
                      span test
                    a.remove-comment(href='/comment/[POSTID]/remove') &#x2715;
            .img-card__comment
              form.comment(action='/api/comment/[POSTID]' method='POST')
                input(name='text' placeholder='Add a comment...' autocomplete='off' maxlength='140')
        .next-img
          a.arrow.next(href='/p/[NEXT POSTID]') &#x276F; 
  footer
    .footer
      span
        | &#x276E;&#x276F; by 
        a(href='http://costco.com/') Kirkland Signature
      span.date 2019
script(src='/javascripts/bundle.js')
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
