head
  include head.pug
  body    
    //- include profilenav.pug
    div.feedcontainer
      div.maincontainer
        div(id="deletedialog")
        div.profileimagecontainer
          center
            img(class="myprofileimage" src="images/profile.jpg")
        div.profilecontainer
        div.userpost
            ul.userpostUL
              li image one
              li image one
              li image one
              li image one
              li image one
              li image one
              li image one
              li image one
            
      

//-  // script(src="/public/javascripts/upload.js")